[submodule "code/compression-comparisons-tools"]
	path = code/compression-comparisons-tools
	url = /home/yoh/proj/dandi/compression-comparisons
	datalad-id = bbc7a988-bcab-4cfc-a9d4-d397d044d6cf
	datalad-url = /home/yoh/proj/dandi/compression-comparisons
[submodule "sourcedata/aind-ephys-compression"]
	path = sourcedata/aind-ephys-compression
	url = https://datasets.datalad.org/aind-benchmark-data/ephys-compression/.git
	datalad-id = 2175bac6-6663-4d4d-8bfc-937773fcc906
	datalad-url = ///aind-benchmark-data/ephys-compression
